<app-navbar></app-navbar>

<div class="layout-content">
  <div class="Skille_nest_anim">

    <div class="hero-wrapper">

      <div class="tags left">
        <span class="tag purple"><i class="fa-solid fa-chart-line"></i> Data Science & Analytics</span>
        <span class="tag yellow"><i class="fa-solid fa-bullhorn"></i> Digital Marketing With AI</span>
        <span class="tag blue"><i class="fa-solid fa-plane"></i> Travel and Hospitality</span>
        <span class="tag violet"><i class="fa-solid fa-shield-halved"></i> Cybersecurity Courses</span>
      </div>

      <div class="hero-content">
        <h1 class="hero-title">Learn Skills That Matter</h1>
        <h3>Gain real-world job ready skills for the future.</h3>
        <button class="cta-btn">Get Started <span>»</span></button>
      </div>

      <div class="tags right">
        <span class="tag sky"><i class="fa-solid fa-code"></i> Software Development</span>
        <span class="tag green"><i class="fa-solid fa-building-columns"></i> Banking & Finance</span>
        <span class="tag orange"><i class="fa-solid fa-laptop-code"></i> Programming Courses</span>
        <span class="tag pink"><i class="fa-solid fa-briefcase"></i> Product Management</span>
      </div>

    </div>

  </div>

  <router-outlet></router-outlet>
</div>