
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}


.navbar {
  width: 100%;
  height: 72px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(90deg, #2c2c2c 0%, #0f0f0f 100%);
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);

  position: relative;
  overflow: visible;
  z-index: 1000;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 26px;
}
.skill_nest{
  font-family: cursive;
  color: goldenrod;

}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.logo img {
  height:70px;
  width: auto;
  display: block;
}


.nav-item {
  padding: 8px 14px;
  border-radius: 6px;
  color: #eaeaea;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.nav-item:hover,
.nav-item.active {
  background: #3a3a3a;
}

.masterclass {
  color: #ffd966;
  font-weight: 500;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 14px;
}


.search-box {
  display: flex;
  align-items: center;
  background: #3a3a3a;
  padding: 8px 14px;
  border-radius: 6px;
  width: 300px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  margin-left: 8px;
  font-size: 0.9rem;
}

.search-box input::placeholder {
  color: #bdbdbd;
}


.login-btn {
  padding: 8px 18px;
  border-radius: 6px;
  border: 1px solid #ff4d2d;
  color: #ff4d2d;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s ease, color 0.2s ease;
}

.login-btn:hover {
  background: #ff4d2d;
  color: white;
}

.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 64px;          
  left: 0;
  width: 100%;

  background: #121212;
  display: flex;
  flex-direction: column;

  z-index: 9999;       
}

@media (max-width: 768px) {
  .navbar {
    height: 64px;
    padding: 0 14px;
  }

  .nav-item,
  .search-box,
  .login-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }
  .mobile-menu a {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-bottom: 1px solid #2f2f2f;
  }

  .mobile-menu a:hover {
    background: #2f2f2f;
  }
}
